Table,
th,
td.tableCell {
  /* border: 1px solid black; */

  border-collapse: collapse;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.container {
  text-align: center;
}

.calendar {
  margin-left: auto;
  margin-right: auto;
}
